*{
	margin: 0;
	padding: 0;
}

body, html{
	width: 100%;
	height: 100%;
	background-color: #e5e5e5 !important;
}

header{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 80px;
	background-color: #E57373;
}

	header .logo{
		float: left;
		display: block;
		width: 250px;
		background-color: #FF8A80;
		text-align: center;
		padding: 15px 0px;
		
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		font-size: 35px;
		text-shadow: 2px 2px #E57373;
		color: #fafafa;
	}

#sidebar{
	position: absolute;
	top: 0;
	float: left;
	width: 250px;
	height: 100%;
	background-color: #fafafa;
	text-align: center;
}
	
	#sidebar nav{
		z-index: 1;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 90px;
		
		-webkit-box-shadow: 2px 0px 10px -3px #aeaeae;
		-moz-box-shadow:   	2px 0px 10px -3px #aeaeae;
		box-shadow:        	2px 0px 10px -3px #aeaeae;
	}
	
		#sidebar nav ul {
			list-style: none;
		}
	
		#sidebar nav li.header{
			color: #616161;
			font-family: 'Segoe UI';
			font-weight: bold;
			font-size: 11px;
			text-transform: uppercase;
			text-align: left;
			margin-left: 40px;
			padding: 15px 0px;
		}
	
		#sidebar nav ul > li a {
			display: block;
			width: 100% !important;
			text-align: left !important;
			padding: 15px 0px !important;
		}
		
		#sidebar nav ul > li a:hover{
			background-color: #e5e5e5;
			cursor: pointer;
		}
		
		#sidebar nav ul li a{
			font-family: 'Roboto' sans-serif;
			font-size: 15px;
			font-weight: 300;
			color: #616161 !important;
			text-decoration: none;
		}
		
		#sidebar nav ul li a.active{
			background-color: #82B1FF;
			color: #FFF !important;
			
			box-shadow: 
        inset 0px 11px 8px -10px #64B5F6,
        inset 0px -11px 8px -10px #64B5F6; 
		}
		
		#sidebar nav ul li a i {
			margin: 0px 40px;
		}
		
#canvas{
	position: absolute;
	top: 80px;
	left: 250px;
	width: calc(100% - 250px);
	height: calc(100% - 80px);
}

	#canvas canvas{
		width: 100%;
		height: calc(100% - 3px);
	}